body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 120px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.btn{
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.circular-image {
    width: 150px; /* Adjust the size of the circular container */
    height: 150px; /* Adjust the size of the circular container */
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Ensures the image stays within the circular container */
    margin: 0 auto;
  }
  
  .circular-image img {
    width: 100%; /* Makes the image fill the circular container */
    height: auto;
    display: block;
  }.circular-image {
    width: 300px; /* Adjust the size of the circular container */
    height: 300px; /* Adjust the size of the circular container */
    border-radius: 50%; /* Makes the container circular */
    overflow: hidden; /* Ensures the image stays within the circular container */
    margin: 0 auto;
  }
  
  .circular-image img {
    width: 100%; /* Makes the image fill the circular container */
    height: auto;
    display: block;
  }  
